# Gotenberg LibreOffice Conversion Endpoint
VITE_GOTENBERG_URL=http://localhost:5173
VITE_GOTENBERG_API_KEY=

# Google OAuth 2.0 Client ID for Gmail API (Scope: https://www.googleapis.com/auth/gmail.compose)
VITE_GOOGLE_CLIENT_ID=
